<h3><%= @author.name %><h3>
  <h4>Books:</h4>
  <% if @books != nil %>
  <ul>
    <% @books.each do |book| %>
    <li><a href="/patrons/<%= @patron.id %>/books/<%= book.id %>"><%= book.name %></a></li>
    <% end %>
  </ul>
  <% else %>
  <p>There are currently no books to display.</p>
  <% end %>
  <br>
  <a href="/patrons/<%= @patron.id %>">Home</a>
