<h3><%= @book.name %><h3>
  <h4>By:</h4>
  <% if @authors != nil %>
  <ul>
    <% @authors.each do |author| %>
    <li><a href="/patrons/<%= @patron.id %>/authors/<%= author.id %>"><%= author.name %></a></li>
    <% end %>
  </ul>
  <% else %>
  <p>There are currently no authors to display.</p>
  <% end %>
  <br>
  <a href="/patrons/<%= @patron.id %>">Home</a>

  <% if @patron.is_checked_out(@book) == true %>
  <form action="/patrons/<%= @patron.id %>/books/<%= @book.id %>/checkout" method="post">
    <input name="_method" type="hidden" value="patch">
    <button type="submit" name="button">Renew</button>
  </form>
  <form action="/patrons/<%= @patron.id %>/books/<%= @book.id %>/return" method="post">
    <input name="_method" type="hidden" value="patch">
    <button type="submit" name="button">Return</button>
  </form>
  <%else%>

  <form action="/patrons/<%= @patron.id %>/books/<%= @book.id %>/checkout" method="post">
    <input name="_method" type="hidden" value="patch">
    <button type="submit" name="button">Checkout</button>
  </form>
  <%end%>
