<h3>Update <%= @book.name %></h3>


<form action="/admin/books/<%= @book.id%>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="name">Rename book</label>
  <input id="name" name="name" type="text">

  <button type="submit">Update</button>
</form>

<form action="/admin/books/<%= @book.id%>/add_author" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="author">Select Author</label>
  <% @authors.each do |author| %>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="author" id="author" value="<%= author.id %>">
    <label class="form-check-label" for="author"> <%= author.name %> </label>
  </div>
  <% end %>
  <button type="submit" class="btn btn-warning">ADD</button>
</form>

<form action="/admin/books/<%= @book.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete Book</button>
</form>
