<h3><%= @patron.name %><h3>
  <a href="/patrons/<%= @patron.id %>/edit">Edit Account</a>
  <h3>Books checked out:</h3>
  <% if @books != nil %>
  <ul>
    <% @books.each do |book| %>
    <li><a href="/patrons/<%= @patron.id %>/books/<%= book.id %>"><%= book.name %></a></li>
    <p>Due on <%= book.return_date.slice(0, (book.return_date.length - 8)) %></p>
    <% end %>
  </ul>
  <% else %>
  <p>There are currently no books to display.</p>
  <% end %>
  <a href="/patrons/<%= @patron.id %>/books">Checkout a Book</a>
